@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/animate";

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light;
    color: $dark;
}

a {
    color: $dark;
    text-decoration: none;
}

button {
    background: inherit;
    border: none;
}

p {
    margin-bottom: 1em;
    font-size: 20px;
    font-style: normal;
    line-height: 140%;
    font-weight: 400;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.divider {
    margin-top: 50px;
    width: 1120px;
    height: 2px;
    background-color: $dark-50;
}

.divider-birds {
    margin-top: 50px;
    text-align: center;
}

.map {
    margin-top: 40px;
    &__script {
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .map {
        &__script {
            iframe {
                width: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .map {
        margin-top: 30px;
        &__script {
            iframe {
                height: 250px;
            }
        }
    }
}

.autor {
    &__name {
        margin-top: 25px;
        text-align: center;
        font-size: 42px;
        font-weight: 700;
    }
    &__actions {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__avatar {
        display: block;
        margin: 40px auto 0 auto;
        width: 265px;
        height: 265px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    &__bio {
        margin: 30px 0 0 0;
        text-align: center;
    }
    &__tags {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.post {
    margin-top: 50px;
    &__autor {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-style: italic;
        a {
            text-decoration: underline;
            text-underline-offset: 3px;
            transition: all 0.4s ease-in-out;
            &:hover {
                color: $link-dark;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &__title {
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
    }
    &__img {
        display: block;
        margin: 40px auto 0 auto;
        max-width: 100%;
        height: auto;
        &-descr {
            width: 740px;
            text-align: center;
            margin: 20px auto 0 auto;
            font-size: 18px;
            font-style: italic;
        }
    }
    &__text {
        margin: 0 auto;
        width: 740px;
        margin-top: 30px;
    }
    &__date {
        margin: 0 auto;
        width: 740px;
        margin-top: 30px;
        font-size: 20px;
        font-style: italic;
        color: $dark-50;
    }
    &__actions {
        margin: 30px auto 0 auto;
        width: 740px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__likes {
        display: flex;
        gap: 6px;
        svg {
            transition: transform 0.8s;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.4s;
            }
        }
        &-count {
            font-size: 20px;
        }
    }
    &__comment {
        position: relative;
        margin: 40px auto 0 auto;
        width: 740px;
        svg {
            position: absolute;
            right: -53px;
            top: -51px;
        }
        &-label {
            display: none;
        }
        &-text {
            width: 100%;
            font-size: 18px;
            padding: 8px 20px;
            color: $dark;
            background: #FAFAFA;
            border: 1px solid $dark-50;
            outline: none;
            vertical-align:top;
        }
        &-btn {
            width: 100%;
        }
    }
    &__comments {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 48px min-content min-content auto auto;
        grid-template-rows: repeat(3, auto);
        column-gap: 28px;
        row-gap: 10px;
        align-items: start;
        &-user {
            display: flex;
            gap: 28px;
            align-items: center;
            grid-column: 1 / span 4;
            text-decoration: underline;
            text-underline-offset: 3px;
            transition: all 0.4s ease-in-out;
            &:hover {
                color: $link-dark;
                transition: all 0.2s ease-in-out;
            }
        }
        &-userpick {
            width: 48px;
            height: 48px;
            border: 1px solid $dark-50;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }
        &-username {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
        }
        &-date {
            align-self: center;
            justify-self: end;
            color: $dark-50;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
        }
        &-text {
            margin-bottom: 0;
            grid-column: 2 / span 4;
        }
        &-reply {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            color: $dark-50;
            grid-column: 2 / 3;
            justify-self: start;
        }
        &-likes {
            grid-column: 3 / 4;
        }
        &-delete {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            color: $dark-50;
            grid-column: 4 / 5;
            justify-self: start;
        }
    }
}



@import "blocks/buttons";
@import "blocks/title";
@import "blocks/slider";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/news";
@import "blocks/creative";
@import "blocks/history";
@import "blocks/forum";
@import "blocks/footer";
@import "blocks/forms";