.autor {
    margin-top: 40px;
    &__name {
        margin-top: 40px;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
    }
    &__actions {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__avatar {
        display: block;
        margin: 30px auto 0 auto;
        width: 265px;
        height: 265px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    &__bio {
        margin: 20px 0 0 0;
        text-align: center;
    }
    &__tags {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .autor {
        margin-top: 30px;
        &__name {
            font-size: 26px;
        }
        &__bio {
            font-size: 18px;
        }
    }
}

@media (max-width: 425px) {
    .autor__bio {
        margin: 10px 0 0 0;
    }
}