.footer {
    margin-top: 50px;
    padding-bottom: 25px;
    &__wrapper {
        display: grid;
        grid-template-columns: 550px 430px;
        justify-content: space-between;
    }
    &__feed-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 130%;
    }
    &__feed-link {
        background-color: $dark;
        color: $light;
        padding: 1px 8px;
        transition: color 0.4s ease-in-out;
        &:hover {
            color: $link-light;
            transition: color 0.2s ease-in-out;
    }
    }
    &-form {
        position: relative;
        margin-top: 15px;
        &__btn {
            justify-self: left;
            &_color {
                color: $light;
            }
        }
        svg {
            position: absolute;
            right: -13px;
            top: -48px;
        }
    }
    &__tags {
        margin-top: 5px;
        //height: 280px;
        height: auto;
        display: flex;
        gap: 20px;
        justify-content: right;
        align-items: start;
        align-content: start;
        flex-wrap: wrap;
    }
    &__socials {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: right;
        align-items: start;
        align-content: start;
    }
    &__bottom {
        position: relative;
        margin-top: 50px;
        padding: 0 20px;
        height: 59px;
        background-color: $dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-bunnies {
            display: none;
            position: absolute;
            bottom: 85px;
            right: 28%;
        }
        svg {
            position: absolute;
            bottom: 47px;
            right: 0;
        }
    }
    &__copyright {
        font-size: 20px;
        font-weight: 300;
        color: $light;
        &-link {
            color: $link-light;
        }
    }
    &__designed {
        font-size: 20px;
        font-weight: 300;
        color: $light;
        &-link {
            color: $link-light;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 530px auto;
            gap: 40px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: auto;
            grid-template-rows: repeat(2,auto);
        }
        &-form {
            &__btn {
                &_color {
                    color: $link-light;
                }
            }
        }
        &__tags {
            width: 60%;
            justify-content: left;
        }
        &__socials {
            justify-content: left;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .footer {
        &__bottom {
            margin-top: 20px;
        }
        &__copyright {
            font-size: 14px;
        }
        &__designed {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .footer {
        margin-top: 40px;
        &__feed {
            &-title {
                font-size: 18px;
                text-align: center;
            }
            &-link {
                font-size: 18px;
            }
        }
        &-form {
            margin-top: 20px;
            &__btn {
                margin: 0 auto;
            }
            svg {
                display: none;
            }
        }    
        &__tags {
            width: 100%;
            justify-content: center;
        }
        &__socials {
            width: 100%;
            justify-content: center;
        }
        &__bottom {
            margin-top: 140px;
            height: 90px;
            svg {
                display: none;
            }
            &-bunnies {
                display: block;
            }
        }
        &__copyright {
            width: 105px;
        }
        &__designed {
            text-align: right;
            width: 105px;
        }
    }
}