.header {
    max-width: 1920px;
    margin-top: 40px;
    &__top {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        height: 30px;
        padding: 0 30px;
    }
    &__age {
        font-family: Stengazeta;
        letter-spacing: 3px;
        font-size: 50px;
        font-weight: 500;
        line-height: normal;
        color: $light;
        &-wrapper {
            position: absolute;
            top: 66px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__whatsapp {
        display: none;
    }
    &__socials {
        display: flex;
        justify-content: start;
        gap: 20px;
        &-item {
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.4s;
            }
        }
    }
    &__forest {
        position: absolute;
        top: 9px;
        left: 50%;
        transform: translate(-50%);
    }
    &__user {
        transition: transform 1s;
        &:hover {
            transform: scale(1.2);
            transition: transform 0.4s;
        }
    }

    &__line {
        position: relative;
        z-index: -1;
        max-width: 1920px;
        &-bold {
            background-color: $dark;
            height: 9px;
            &_1 {
                margin-top: 0;
            }
            &_2 {
                margin-top: 5px;
            }
        }
        &-thin {
            background-color: $dark;
            height: 3px;
            &_1 {
                margin-top: 5px;
            }
            &_2 {
                margin-top: 0;
            }
        }
    }

    &__body {
        margin: 35px auto;
        height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img {
        &_left {
            position: absolute;
            top: 133px;
            left: 20px;
        }
        &_right {
            position: absolute;
            top: 134px;
            right: 15px;
        }
    }
    &__title {
        margin: 0 auto;
        text-align: center;
        font-family: Stengazeta;
        font-size: 100px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

@media (max-width: 1200px) {
    .header {
        &__title {
            padding-top: 8px;
            font-size: 84px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__title {
            padding-top: 0;
            font-size: 98px;
        }
        &__img {
            &_left {
                display: none;
            }
            &_right {
                display: none;
            }
        }
    }  
}

@media (max-width: 768px) {
    .header {
        &__body {
            height: 130px;
        }
        &__title {
            font-size: 72px;
        }
        &__img {
            &_left {
                display: none;
            }
            &_right {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        margin-top: 20px;
        &__body {
            height: 120px;
        }
        &__top {
            padding: 0 20px;
            height: 50px;
        }
        &__whatsapp {
            display: block;
        }
        &__socials {
            display: none;
        }
        &__title {
            font-size: 55px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        &__body {
            height: 110px;
        }
        &__title {
            font-size: 50px;
        }
    }
}

@media (max-width: 375px) {
    .header {
        &__title {
            letter-spacing: 2px;
        }
    }
}

@media (max-width: 320px) {
    .header {
        &__body {
            height: 100px;
        }
        &__title {
            font-size: 45px;
            letter-spacing: 2px;
        }
    }
}