.header {
    max-width: 1920px;
    height: 233px;
    margin-top: 35px;
    &__top {
        display: grid;
        grid-template-columns: 200px auto 200px;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        height: 34px;
        margin: 0 auto;
        padding: 0 30px;
    }
    &__date {
        font-size: 18px;
        font-weight: 700;
    }
    &__socials {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &-item {
            width: 30px;
            height: 34px;
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.4s;
            }
        }
    }
    &__user {
        justify-self: right;
        width: 30px;
        height: 30px;
        transition: transform 1s;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.4s;
            }
    }

    &__line {
        position: relative;
        z-index: 1;
        max-width: 1920px;
        &-bold {
            background-color: $dark;
            height: 9px;
            &_1 {
                margin-top: 35px;
            }
            &_2 {
                margin-top: 5px;
            }
        }
        &-thin {
            background-color: $dark;
            height: 3px;
            &_1 {
                margin-top: 5px;
            }
            &_2 {
                margin-top: 30px;
            }
        }
    }

    &__body {
        margin: 0 auto;
    }
    &__img {
        &_left {
            position: absolute;
            top: 133px;
            left: 20px;
        }
        &_right {
            position: absolute;
            top: 134px;
            right: 15px;
        }
    }
    &__title {
        margin-top: 30px;
        text-align: center;
        font-family: Kanalisirung;
        font-size: 100px;
        height: 70px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
}

@media (max-width: 1200px) {
    .header {
        &__title {
            padding-top: 8px;
            font-size: 84px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__title {
            padding-top: 0;
            font-size: 98px;
        }
        &__img {
            &_left {
                display: none;
            }
            &_right {
                display: none;
            }
        }
    }  
}

@media (max-width: 768px) {
    .header {
        height: 193px;
        &__title {
            font-size: 72px;
            margin-top: 20px;
            height: 40px;
        }
        &__img {
            &_left {
                display: none;
            }
            &_right {
                display: none;
            }
        }
        &__top {
            grid-template-columns: 180px auto 180px;
        }
        &__user {
            margin-left: 30px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        margin-top: 20px;
        height: 157px;
        &__top {
            grid-template-columns: auto auto;
            padding: 0 20px;
        }
        &__date {
            display: none;
        }
        &__user {
            margin-left: 0;
        }
        &__line {
            &-bold {
                &_1 {
                    margin-top: 20px;
                }
            }
        }
        &__line {
            &-thin {
                &_2 {
                    margin-top: 9px;
                }
            }
        }
        &__title {
            font-size: 44px;
        }
    }
}