.history {
    margin-top: 40px;
    &-slides {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &-slider {
        position: relative;
        width: 100%;
        height: 366px;
        &__content {
            top: 0;
            width: 100%;
            height: 70px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
        }
        &__name {
            font-size: 24px;
        }
        &__control {
            svg {
                width: 30px;
            }
        }
        &__descr {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background: rgba(39, 39, 39, 0.30);
        }
        &__text {
            width: 360px;
            color: #FFE6A8;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &-people {
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 265px);
        grid-template-rows: repeat(2, 366px);
        gap: 20px;
        &__item {
            position: relative;
            display: block;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__descr {
            position: absolute;
            bottom: 0;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            background: $dark-50;
        }
        &__family {
            color: $light;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
        &__name {
            color: $light;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
        &__years {
            color: $light;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .history {
        &-slider {
            height: 316px;
            &__name {
                font-size: 20px;
            }
        }
        &-people {
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,310px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .history {
        &-slider {
            height: 260px;
            &__name {
                font-size: 18px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .history {
        &-slides {
            flex-wrap: wrap;
        }
        &-slider {
            height: 100%;
            &__name {
                font-size: 20px;
            }
            &__text {
                font-size: 20px;
            }
        }
        &-people {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,360px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .history {
        margin-top: 30px;
        &-slider {
            height: 100%;
            &__name {
                font-size: 18px;
            }
            &__text {
                font-size: 18px;
            }
            &__descr {
                position: inherit;
                background: rgba(39,39,39,0.8);
            }
            &__control {
                svg {
                    width: 25px;
                }
            }
        }
        &-people {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(8,450px);
        }
    }
}
