.title {
    margin: 40px 0 0 0;
    text-align: center;
    font-family: "Morganite Pro";
    font-size: 80px;
    line-height: normal;
    &_link {
        &:after {
            content: "";
            display: block;
            height: 3px;
            background-color: $dark;
            width: 0%;
            transition: width 1s;
        }
        &:hover {
            &:after {
                width: 100%;
                transition: width 0.9s;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 52px;
    }
}